<h1>Домашняя страница</h1>

<ul class="nav nav-tabs">
      <li class="active">
        <%= link_to "Главная" %>
      </li>
      <li><%= link_to "Гитары", g_models_path %></li>
      <li><%= link_to "Бас-гитары" %></li>
      <li><%= link_to "Информация" %></li>
      <li><%= link_to "Форум" %></li>
</ul>